
.portada-header {
    min-height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #1f2226;
}

.portada-imagen {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.glitch-effect {
    animation: image-glitch 0.3s cubic-bezier(0.5, 0.46, 0.45, 0.94) 5 alternate;

}

@keyframes image-glitch {
    0% { filter: hue-rotate(0deg) saturate(1); transform: translateX(0); }
    33% { filter: hue-rotate(180deg) saturate(1.5); transform: translateX(5px); clip-path: inset(20% 0 60% 0); }
    66% { filter: hue-rotate(300deg) saturate(0.8); transform: translateX(-5px); clip-path: inset(50% 0 10% 0); }
    100% { filter: hue-rotate(0deg) saturate(1); transform: translateX(0); clip-path: inset(0 0 0 0); }
}

.social-links,
.email-contact {
    font-family: 'poppins', sans-serif;
    position: absolute;
    z-index: 15;
    font-size: 2rem;
    color: #f9f9fb ;


    background-color: #32363b0e;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 5rem;
}

.social-icon:hover {
    transition: color 0.5s ease-in-out;
    color: #ffddcc;
    text-shadow: 0 0 5px #622100;
}

.email-contact:hover {
    transition: color 0.5s ease-in-out;
    color: #ffddcc;
    text-shadow: 0 0 5px #622100;
}

.social-links {
    bottom: 3rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.email-contact {
    bottom: 3rem;
    right: 3rem;
}

.social-icon {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.social-media-logo {
    width: 3rem; 
    height: 3rem;
    display: block; 
}

@media (max-width: 768px) {
    .social-links {
        bottom: 1rem; 
        left: 1rem;
        gap: 0.8rem;
    }

    .email-contact {
        bottom: 1rem; 
        right: 1rem;
    }

    .social-media-logo {
        width: 2rem; 
        height: 2rem;
    }
}