
.portada-header {
    min-height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #1f2226;
}

@keyframes reveal-up {
    0% {
        transform: translateY(50px) scale(1.05); /* Empieza fuera de posición y ligeramente ampliada */
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1.05); /* Llega a su posición normal (manteniendo la escala para el subtle-zoom) */
        opacity: 1;
    }
}

@keyframes image-glitch-reveal {
    0% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

.glitch-effect {
    animation: reveal-up 2s ease-out forwards, 
    
    image-glitch-reveal 0.2s steps(10, end) forwards;
}

.portada-imagen {
    position: absolute;
    top: 0%; 
    left: 0%; 
    width: 110%; 
    height: 110%; 
    object-fit: cover;
    z-index: 1;

}


.social-links,
.email-contact {
    font-family: 'poppins', sans-serif;
    position: absolute;
    z-index: 15;
    font-size: 2rem;
    color: #f9f9fb ;


    background-color: #32363b0e;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 5rem;
}

.social-icon:hover {
    transition: color 0.5s ease-in-out;
    color: #ffddcc;
    text-shadow: 0 0 5px #622100;
}

.email-contact:hover {
    transition: color 0.5s ease-in-out;
    color: #ffddcc;
    text-shadow: 0 0 5px #622100;
}

.social-links {
    bottom: 3rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.email-contact {
    bottom: 3rem;
    right: 3rem;
}

.social-icon {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.social-media-logo {
    width: 3rem; 
    height: 3rem;
    display: block; 
}

@media (max-width: 768px) {
    .social-links {
        bottom: 1rem; 
        left: 1rem;
        gap: 0.8rem;
    }

    .email-contact {
        bottom: 1rem; 
        right: 1rem;
    }

    .social-media-logo {
        width: 2rem; 
        height: 2rem;
    }
}