.educacion-section {
    padding: 5rem 3rem; 
    color: #f9f9fb;
    background-color: #0c0c0c;
    font-family: 'karla', sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    scroll-snap-align: start;
}

.titulo {
    font-size: 3.5rem;
    font-family: 'poppins', sans-serif;
    margin-bottom: 10rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: stretch;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.educacion-card {
    padding: 4rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 280px;
    height: 100%;
    border: 1px solid #32363B;
    background-color: #1f2226;
    text-align: center;
}

.container-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.boton-cambiar-pagina {
    padding: 1rem 2rem;
    background-color: transparent;
    color: #f9f9fb;
    border: 2px solid #ff7733;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    width: fit-content; 
    height: fit-content;
}

.boton-cambiar-pagina:hover {
    background-color: #ff7733;
    color: #1f2226;
    box-shadow: 0 0 20px rgba(255, 140, 0, 0.3);
}