.habilidades-section{
    padding: 5rem 3rem; 
    color: #f9f9fb;
    background-color: #0c0c0c;
    font-family: 'karla', sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    scroll-snap-align: start;
}

.habilidades-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    
}

.title{
    font-size: 3.5rem;
    font-family: 'poppins', sans-serif;
    margin-bottom: 10rem;
    max-width: 100%;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.habilidad-item{
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 150px;
    height: 100%;
    border: 1px solid #32363B;
    background-color: #1f2226;

} 