
.proyectos-section{
    padding: 5rem 3rem; 
    color: #f9f9fb;
    background-color: #0c0c0c;
    font-family: 'karla', sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    scroll-snap-align: start;
}

.tituloProyectos {
    font-size: 3.5rem;
    font-family: 'poppins', sans-serif;
    margin-bottom: 10rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.proyectos-swiper-container {
    width: 100%;
    max-width: 1000px; 
    height: 600px; 
    margin-bottom: 40px;
    box-sizing: border-box;
    border-radius: 12px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.slide-content {

    display: flex;
    flex-direction: column;
    height: 100%; 
    align-items: center; 
    text-align: center;
    width: 100%;
    background: #1f2226;
    border-radius: 12px;
    border: 1px solid #32363B;

    padding: 4rem; 
    box-sizing: border-box;

}


.slide-image {
    width: 80%;
    max-height: 400px; 
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px #ff7733;
    margin-bottom: 2rem;
}

.slide-details {
    width: 100%;
    padding: 0 10px;
    color: #c7cad6; /* Texto Secundario Gris Claro */
    text-align: center;
}

.slide-details h3 {
    color: #ff7733; /* Naranja Neón */
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 10px;
    text-shadow: 0 0 5px rgba(255, 119, 51, 0.6);
}


.proyectos-swiper-container :global(.swiper-button-next),
.proyectos-swiper-container :global(.swiper-button-prev) {
    width: 30px;             /* Tamaño del círculo */
    height: 30px;            /* Debe ser igual al ancho */
    border-radius: 50%;      /* Círculo perfecto */
    color: #ff7733;
    transition: all 0.3s ease;
    
    /* Centrado perfecto del icono */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- PAGINACIÓN (BARRAS) --- */

/* Estilo base de los indicadores */
.proyectos-swiper-container :global(.swiper-pagination-bullet) {
    width: 20px;          /* Los hacemos más largos (forma de cápsula) */
    height: 4px;
    border-radius: 2px;
    background: #4b4f58 !important; /* Gris oscuro inactivo */
    opacity: 1;
    transition: all 0.4s ease;
}

/* Estado Activo: La barra se expande y brilla */
.proyectos-swiper-container :global(.swiper-pagination-bullet-active) {
    width: 50px;          /* Se estira cuando está activo */
    background: #ff7733 !important; 
    box-shadow: 0 0 10px rgba(255, 119, 51, 0.8);
}

/* Posición de los indicadores */
.proyectos-swiper-container :global(.swiper-pagination) {
    bottom: 20px !important;
}