.experiencia-section {
    padding: 5rem 3rem; 
    color: #f9f9fb;
    background-color: #1f2226;
    font-family: 'karla', sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    scroll-snap-align: start;
}

.titulo {
    font-size: 3.5rem;
    font-family: 'poppins', sans-serif;
    margin-bottom: 10rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: stretch;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.experiencia-Ministerio,
.experiencia-reparaciones{
    padding: 4rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 280px;
    height: 100%;
    text-align: center;

    border: 1px solid #32363B;
    background: #0c0c0c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
