
.sobremi-section {
    padding: 5rem 3rem; 
    color: #f9f9fb;
    background-color: #1f2226;
    font-family: 'karla', sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    scroll-snap-align: start;
}


.tituloSobreMi {
    font-size: 3.5rem;
    font-family: 'poppins', sans-serif;
    margin-bottom: 10rem;
    max-width: 100%;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.highlight-orangeT {
    background: linear-gradient(90deg,#ff7733, #ff4a00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: stretch;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    --scale-out: 1;
}

.contact-card:hover,
.aptitudes-card:hover {
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 0 2px 50px #c7cad6 ;
}

.card-description:hover {
    transform: scale(1.05) translateY(-25px) translateX(-25px); 
    z-index: 10;
    box-shadow: 0 2px 65px #c7cad6;
}

/* Estilos de las Tarjetas (Fondo Gris Oscuro) */
.contact-card,
.aptitudes-card {

    transform: scale(1);
    will-change: transform, box-shadow;
    transition: transform 0.8s ease-out, box-shadow 0.4s ease-out, opacity 0.4s ease-out;

    padding: 4rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 280px;
    height: 100%;
    background-color: #32363b28;
    box-shadow: 
        0 0 10px rgba(31, 34, 38, 0.5), /* Sombra exterior suave */
        inset 0 0 15px rgba(0, 0, 0, 0.5)
}
.card-description{

    transform: scale(1);

    cursor: pointer;
    will-change: transform, box-shadow;
    transition: transform 0.8s ease-out, box-shadow 0.4s ease-out, opacity 0.4s ease-out;
    border: 1px solid #32363B;

    border-radius: 12px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 280px;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
    box-shadow: 
        0 0 20px rgba(0, 0, 0, 0.5);
}

.description {
    margin-bottom: 1rem;
}

.card-button {
    background: none;
    border: none;
    color: #f9f9fb;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    padding: 0;
    margin-top: 1rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos de la Tarjeta de Aptitudes (Resiliencia/Agilidad) */
.aptitudes-card {
    /* Centrar el texto en las tarjetas de aptitudes */
    text-align: center;
    justify-content: center;
}

.aptitudes {
    font-size: 1.5rem;
    line-height: 1.4;
}

/* Estilos de la Tarjeta de Contacto */
.contact-title {
    font-size: 1.5rem;
    color: #f9f9fb;
    margin-bottom: 2rem;
    font-family: poppins, sans-serif;
    text-align: center;
}

.contact-card a {
    /* Estilos para los enlaces de contacto (email, linkedin, etc.) */
    color: #ff7733;
    text-decoration: none;
    margin-bottom: 0.5rem;
    display: block;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 900px) {
    .sobremi-section {
        padding: 3rem 1.5rem;
    }

    /* Redefinimos el Grid a una sola columna */
    .cards {
        grid-template-columns: 1fr; /* Una columna para apilar las 4 tarjetas */
        gap: 1.5rem; 
    }
    
    .sobremi-section > h2 {
        font-size: 2.5rem;
        text-align: left;
    }

    .cards {
        --scale-out: 1; 
    }

    .card-description,
    .contact-card,
    .aptitudes-card {
        transform: none; 
        box-shadow: none;
    }
}