
.sobremi-section {
    padding: 5rem 3rem; 
    color: #f9f9fb;
    background-color: #1f2226;
    font-family: 'karla', sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    scroll-snap-align: start;
}


.tituloSobreMi {
    font-size: 3.5rem;
    font-family: 'poppins', sans-serif;
    margin-bottom: 10rem;
    max-width: 100%;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.highlight-orangeT {
    background: linear-gradient(90deg,#ff7733, #ff4a00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.highlight-orange{
    color: #ff7733;
    font-weight: bold;
}

.text{
    font-weight: 100;
    font-size: smaller;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: stretch;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    --scale-out: 1;
}

.card-description:hover,
.aptitudes-card:hover {
    transform: scale(1.03);
    z-index: 10;
    box-shadow: 0 2px 2px #d6d0c7 ;
}

.card-description,
.aptitudes-card{

    transform: scale(1);
    will-change: transform, box-shadow;
    transition: transform 0.8s ease-out, box-shadow 0.4s ease-out, opacity 0.4s ease-out;
    border: 1px solid #32363B;
    background: #0c0c0c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 280px;
    height: 100%;
    text-align: justify;
    font-size: 1.7rem;
    line-height: 1.6;
    justify-content: center;

}

.description {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos de la Tarjeta de Aptitudes (Resiliencia/Agilidad) */
.aptitudes-card {
    /* Centrar el texto en las tarjetas de aptitudes */
    text-align: center;
    justify-content: center;
}

.aptitudes {
    font-size: 1.5rem;
    line-height: 1.4;
}

@media (max-width: 900px) {
    .sobremi-section {
        padding: 3rem 1.5rem;
    }

    /* Redefinimos el Grid a una sola columna */
    .cards {
        grid-template-columns: 1fr; /* Una columna para apilar las 4 tarjetas */
        gap: 1.5rem; 
    }
    
    .sobremi-section > h2 {
        font-size: 2.5rem;
        text-align: left;
    }

    .cards {
        --scale-out: 1; 
    }

    .card-description,
    .contact-card,
    .aptitudes-card {
        transform: none; 
        box-shadow: none;
    }
}