
.sobremi-section {
    padding: 5rem 3rem; 
    color: #f9f9fb;
    background-color: #1f2226;
    min-height: 80vh;
        font-family: 'karla', sans-serif;
}

/* Título Principal */
.sobremi-section > h2 {
    font-size: 3.5rem;
    font-family: 'poppins', sans-serif;
    margin-bottom: 3rem;
    max-width: 100%;
    text-align: center ;
}

/* ---------------------------------------------------- */
/* 💡 Estructura de la Cuadrícula (Cards) */
/* ---------------------------------------------------- */
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: stretch;
}

/* Estilos de las Tarjetas (Fondo Gris Oscuro) */
.card-description,
.contact-card,
.aptitudes-card {
    background-color: #32363B;
    padding: 2.5rem;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px; /* Altura mínima para alineación */
}

.card-button {
    /* Estilo del botón "LEER MAS" */
    background: none;
    border: none;
    color: #ffddcc; /* Color naranja/durazno */
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    padding: 0;
    margin-top: 1rem;
    text-align: center;
    
}


