.contactame-section {
    padding: 5rem 3rem;
    color: #f9f9fb;
    background-color: #1f2226;
    font-family: 'karla', sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    scroll-snap-align: start;
}

.titulo{
    font-size: 3.5rem;
    font-family: 'poppins', sans-serif;
    margin-bottom: 10rem;
    max-width: 100%;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.social-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: stretch;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.social-link{
    padding: 4rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    min-height: 200px;
    height: 100%;
    background-color: #32363b28;
    box-shadow: 
        0 0 10px rgba(31, 34, 38, 0.5), /* Sombra exterior suave */
        inset 0 0 15px rgba(0, 0, 0, 0.5)
}

.social-media-logo{
    width: 10rem; 
    height: auto;
    display: block; 
}

.social-media-logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.social-link:hover {
    text-shadow: 0 0 20px #ff7733;
    box-shadow: 
        0 0 20px #ff7733,
        inset 0 0 15px rgba(255, 119, 51, 0.5); /* Sombra interior suave */
}