/* navbar.module.css */

.navbar {
    position: absolute;
    z-index: 15;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    box-sizing: border-box; /* Asegura que el padding no afecte el width del 100% */

}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 5rem;
    width: auto;
    display: block;
}

.nav-links {
    display: flex;
    gap: 3rem;
    background-color: #32363b0e;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 5rem;

}

.nav-item {
    font-family: 'poppins', sans-serif;
    color: #f9f9fb;
    font-size: 2rem;
    transition: color 0.5s ease-in-out;
}

.nav-item:hover {
    color: #ffddcc;
    text-shadow: 0 0 5px #622100;
}


@media (max-width: 768px) {
    .navbar {
        padding: 1rem 1rem;
    }
    .nav-links {
        gap: 1rem;
    }
    .logo-container img {
        height: 3.5rem;
    }
}

